/*
=======================================================================
============================= Banner ==================================
=======================================================================
*/

.banner-wrap {
  height: calc(90vh - 200px);
  //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  //height: calc(100vh - 200px);

  #subpage & {
    height: 450px;
  }

  .banner {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;


  }

  h1 {
      position: absolute;
      z-index: 0;
      //text-shadow: 0 0 10px rgba(0, 0, 0, .35);
      bottom: -1.35rem;
      left: 4.4375rem;
      //left: 0;
      //right: 0;
      margin: 0 auto;
      color: $white;
      font-size: 4rem;
      text-align: center;
      text-transform: uppercase;
    }
}

@media screen and (max-height: 715px) {

  #header-banner {
    //height: calc(84vh - 280px);
    height: 350px;
    //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    //height: calc(100vh - 200px);

    #subpage & {
      height: 352px;
    }

    .banner {

      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

    }
  }

  .intro {
    padding: 3rem;
  }

  .intro-text h1 {
    font-size: 3.5rem;
  }

  .intro-img {
    margin-top: -6rem;
  }

}

@media only screen and (min-height: 716px) and (max-height: 901px) {

  .banner-wrap {
    height: calc(86vh - 160px);
    //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    //height: calc(100vh - 200px);

    .banner {

      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

    }
  }
}

@media only screen and (min-height: 902px) and (max-height: 1024px) {

  .banner-wrap {
    height: calc(86vh - 160px);
    //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    //height: calc(100vh - 200px);

    .banner {

      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

    }
  }
  .intro-text {

    h1 {
      margin-bottom: 8.5rem;
    }
  }

}

@media only screen and (min-height: 1025px) and (max-height: 1200px) {

  .banner-wrap {
    height: calc(92vh - 160px);
    //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    //height: calc(100vh - 200px);

    .banner {

      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

    }
  }
  .intro-text {

    h1 {
      margin-bottom: 8.5rem;
    }
  }

}

@media only screen and (min-height: 1201px) {

}