/*
=======================================================================
=============================== Button ================================
=======================================================================
*/

.button {
  border: 1px solid rgba(255,255,255,.25);
  display: inline-block;
  text-align: center;
  letter-spacing: .25rem;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  //border-radius: 3px;
  padding: 1.5em 3.5em;
  margin: 0 0 1rem 0;
  font-family: $base-font-bold;
  font-size: 0.8rem;
  background-color: darken( $secondary-color, 5% );
  color: #fff;
  text-transform: uppercase;
  @include transition(all .3s ease-in-out);
}
[data-whatinput='mouse'] .button {
  outline: 0; }
.button:hover, .button:focus {
  background-color: #258dad;
  color: #fefefe; }
.button.tiny {
  font-size: 0.6rem; }
.button.small {
  font-size: 0.75rem; }
.button.large {
  font-size: 1.25rem; }
.button.expanded {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }
.button.primary {
  background-color: darken( $secondary-color, 5% );
  color: $white;
  min-width: 280px}
.button.primary:hover, .button.primary:focus {
  background-color: $white;
  border-color: rgba(255,255,255,.5);
  color: $secondary-color; }
.button.secondary {
  background-color: #e9e9e9;
  color: #0a0a0a; }
.button.secondary:hover, .button.secondary:focus {
  background-color: #bababa;
  color: #0a0a0a; }
.button.inverse {
  background-color: $white;
  color: $secondary-color;
  
  &:hover, &:focus {
    background-color: transparent;
    border-color: &white;
    color: $white;
  }
}
.button.alert {
  background-color: #c60f13;
  color: #fefefe; }
.button.alert:hover, .button.alert:focus {
  background-color: #9e0c0f;
  color: #fefefe; }
.button.success {
  background-color: #5da423;
  color: #fefefe; }
.button.success:hover, .button.success:focus {
  background-color: #4a831c;
  color: #fefefe; }
.button.warning {
  background-color: #ffae00;
  color: #fefefe; }
.button.warning:hover, .button.warning:focus {
  background-color: #cc8b00;
  color: #fefefe; }
.button.body-font {
  background-color: #222222;
  color: #fefefe; }
.button.body-font:hover, .button.body-font:focus {
  background-color: #1b1b1b;
  color: #fefefe; }
.button.header {
  background-color: #222222;
  color: #fefefe; }
.button.header:hover, .button.header:focus {
  background-color: #1b1b1b;
  color: #fefefe; }
.button.hollow {
  border: 1px solid #2ba6cb;
  color: #2ba6cb; }
.button.hollow, .button.hollow:hover, .button.hollow:focus {
  background-color: transparent; }
.button.hollow:hover, .button.hollow:focus {
  border-color: #165366;
  color: #165366; }
.button.hollow.primary {
  border: 1px solid #2ba6cb;
  color: #2ba6cb; }
.button.hollow.primary:hover, .button.hollow.primary:focus {
  border-color: #165366;
  color: #165366; }
.button.hollow.secondary {
  border: 1px solid #e9e9e9;
  color: #e9e9e9; }
.button.hollow.secondary:hover, .button.hollow.secondary:focus {
  border-color: #757575;
  color: #757575; }
.button.hollow.alert {
  border: 1px solid #c60f13;
  color: #c60f13; }
.button.hollow.alert:hover, .button.hollow.alert:focus {
  border-color: #63080a;
  color: #63080a; }
.button.hollow.success {
  border: 1px solid #5da423;
  color: #5da423; }
.button.hollow.success:hover, .button.hollow.success:focus {
  border-color: #2f5212;
  color: #2f5212; }
.button.hollow.warning {
  border: 1px solid #ffae00;
  color: #ffae00; }
.button.hollow.warning:hover, .button.hollow.warning:focus {
  border-color: #805700;
  color: #805700; }
.button.hollow.body-font {
  border: 1px solid #222222;
  color: #222222; }
.button.hollow.body-font:hover, .button.hollow.body-font:focus {
  border-color: #111111;
  color: #111111; }
.button.hollow.header {
  border: 1px solid #222222;
  color: #222222; }
.button.hollow.header:hover, .button.hollow.header:focus {
  border-color: #111111;
  color: #111111; }
.button.disabled, .button[disabled] {
  opacity: 0.25;
  cursor: not-allowed; }
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2ba6cb;
  color: #fefefe; }
.button.dropdown::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 0.4em;
  border-color: #fefefe transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  position: relative;
  top: 0.4em;
  float: right;
  margin-left: 1em;
  display: inline-block; }
.button.arrow-only::after {
  margin-left: 0;
  float: none;
  top: -0.1em; }

.close-button {
  position: absolute;
  color: #8a8a8a;
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
  cursor: pointer; }
[data-whatinput='mouse'] .close-button {
  outline: 0; }
.close-button:hover, .close-button:focus {
  color: #0a0a0a; }

.button-group {
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
.button-group::before, .button-group::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }
.button-group::after {
  clear: both; }
.button-group .button {
  margin: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
.button-group .button:last-child {
  margin-right: 0; }
.button-group.tiny .button {
  font-size: 0.6rem; }
.button-group.small .button {
  font-size: 0.75rem; }
.button-group.large .button {
  font-size: 1.25rem; }
.button-group.expanded .button {
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px; }
.button-group.primary .button {
  background-color: #2ba6cb;
  color: #fefefe; }
.button-group.primary .button:hover, .button-group.primary .button:focus {
  background-color: #2285a2;
  color: #fefefe; }
.button-group.secondary .button {
  background-color: #e9e9e9;
  color: #0a0a0a; }
.button-group.secondary .button:hover, .button-group.secondary .button:focus {
  background-color: #bababa;
  color: #0a0a0a; }
.button-group.alert .button {
  background-color: #c60f13;
  color: #fefefe; }
.button-group.alert .button:hover, .button-group.alert .button:focus {
  background-color: #9e0c0f;
  color: #fefefe; }
.button-group.success .button {
  background-color: #5da423;
  color: #fefefe; }
.button-group.success .button:hover, .button-group.success .button:focus {
  background-color: #4a831c;
  color: #fefefe; }
.button-group.warning .button {
  background-color: #ffae00;
  color: #fefefe; }
.button-group.warning .button:hover, .button-group.warning .button:focus {
  background-color: #cc8b00;
  color: #fefefe; }
.button-group.body-font .button {
  background-color: #222222;
  color: #fefefe; }
.button-group.body-font .button:hover, .button-group.body-font .button:focus {
  background-color: #1b1b1b;
  color: #fefefe; }
.button-group.header .button {
  background-color: #222222;
  color: #fefefe; }
.button-group.header .button:hover, .button-group.header .button:focus {
  background-color: #1b1b1b;
  color: #fefefe; }
.button-group.stacked, .button-group.stacked-for-small, .button-group.stacked-for-medium {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.button-group.stacked .button, .button-group.stacked-for-small .button, .button-group.stacked-for-medium .button {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }
.button-group.stacked .button:last-child, .button-group.stacked-for-small .button:last-child, .button-group.stacked-for-medium .button:last-child {
  margin-bottom: 0; }

.v-stretch {
  bottom: 3.5rem;
  position: absolute;
}


@media screen and (min-width: 40em) {
  .button-group.stacked-for-small .button {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    margin-bottom: 0; } }
@media screen and (min-width: 64em) {
  .button-group.stacked-for-medium .button {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    margin-bottom: 0; } }
@media screen and (max-width: 39.9375em) {
  .button-group.stacked-for-small.expanded {
    display: block; }
  .button-group.stacked-for-small.expanded .button {
    display: block;
    margin-right: 0; } }
