
/*
=======================================================================
=============================== Grid ==================================
=======================================================================
*/


/*******************************
********* Brealpoints **********

         sm-: 0px
        md-: 40em (640px)
         lg-: 64em (1024px)
        xlg-: 75em (1200px)
       xxlg-: 90em (1440px)
      xxxlg-: 105em (1680px)

********* Brealpoints *********
*******************************/



.row {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.row .row {
  max-width: none;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.row.expanded {
  max-width: none;
}

.row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.column, .columns {
  -webkit-flex: 1 1 0px;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  min-width: initial;
}

.column.row.row, .row.row.columns {
  float: none;
  display: block;
}

.row .column.row.row, .row .row.row.columns {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.sm-1 {
  -webkit-flex: 0 0 6.25%;
  -ms-flex: 0 0 6.25%;
  flex: 0 0 6.25%;
  max-width: 6.25%;
}

.sm-offset-0 {
  margin-left: 0%;
}

.sm-2 {
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.sm-offset-1 {
  margin-left: 6.25%;
}

.sm-3 {
  -webkit-flex: 0 0 18.75%;
  -ms-flex: 0 0 18.75%;
  flex: 0 0 18.75%;
  max-width: 18.75%;
}

.sm-offset-2 {
  margin-left: 12.5%;
}

.sm-4 {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.sm-offset-3 {
  margin-left: 18.75%;
}

.sm-5 {
  -webkit-flex: 0 0 31.25%;
  -ms-flex: 0 0 31.25%;
  flex: 0 0 31.25%;
  max-width: 31.25%;
}

.sm-offset-4 {
  margin-left: 25%;
}

.sm-6 {
  -webkit-flex: 0 0 37.5%;
  -ms-flex: 0 0 37.5%;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.sm-offset-5 {
  margin-left: 31.25%;
}

.sm-7 {
  -webkit-flex: 0 0 43.75%;
  -ms-flex: 0 0 43.75%;
  flex: 0 0 43.75%;
  max-width: 43.75%;
}

.sm-offset-6 {
  margin-left: 37.5%;
}

.sm-8 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.sm-offset-7 {
  margin-left: 43.75%;
}

.sm-9 {
  -webkit-flex: 0 0 56.25%;
  -ms-flex: 0 0 56.25%;
  flex: 0 0 56.25%;
  max-width: 56.25%;
}

.sm-offset-8 {
  margin-left: 50%;
}

.sm-10 {
  -webkit-flex: 0 0 62.5%;
  -ms-flex: 0 0 62.5%;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.sm-offset-9 {
  margin-left: 56.25%;
}

.sm-11 {
  -webkit-flex: 0 0 68.75%;
  -ms-flex: 0 0 68.75%;
  flex: 0 0 68.75%;
  max-width: 68.75%;
}

.sm-offset-10 {
  margin-left: 62.5%;
}

.sm-12 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.sm-offset-11 {
  margin-left: 68.75%;
}

.sm-13 {
  -webkit-flex: 0 0 81.25%;
  -ms-flex: 0 0 81.25%;
  flex: 0 0 81.25%;
  max-width: 81.25%;
}

.sm-offset-12 {
  margin-left: 75%;
}

.sm-14 {
  -webkit-flex: 0 0 87.5%;
  -ms-flex: 0 0 87.5%;
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.sm-offset-13 {
  margin-left: 81.25%;
}

.sm-15 {
  -webkit-flex: 0 0 93.75%;
  -ms-flex: 0 0 93.75%;
  flex: 0 0 93.75%;
  max-width: 93.75%;
}

.sm-offset-14 {
  margin-left: 87.5%;
}

.sm-16 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sm-offset-15 {
  margin-left: 93.75%;
}

.sm-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.sm-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.sm-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.sm-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.sm-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

.sm-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

.sm-up-1 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-1 > .column, .sm-up-1 > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sm-up-2 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-2 > .column, .sm-up-2 > .columns {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.sm-up-3 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-3 > .column, .sm-up-3 > .columns {
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.sm-up-4 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-4 > .column, .sm-up-4 > .columns {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.sm-up-5 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-5 > .column, .sm-up-5 > .columns {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.sm-up-6 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-6 > .column, .sm-up-6 > .columns {
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.sm-up-7 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-7 > .column, .sm-up-7 > .columns {
  -webkit-flex: 0 0 14.28571%;
  -ms-flex: 0 0 14.28571%;
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}

.sm-up-8 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sm-up-8 > .column, .sm-up-8 > .columns {
  -webkit-flex: 0 0 12.5%;
  -ms-flex: 0 0 12.5%;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.sm-collapse > .column, .sm-collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.sm-uncollapse > .column, .sm-uncollapse > .columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}


/*=================================
       medium 40em (640px)
=================================*/

@media screen and (min-width: 40em) {
  .md-1 {
    -webkit-flex: 0 0 6.25%;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .md-offset-0 {
    margin-left: 0%;
  }
  .md-2 {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .md-offset-1 {
    margin-left: 6.25%;
  }
  .md-3 {
    -webkit-flex: 0 0 18.75%;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .md-offset-2 {
    margin-left: 12.5%;
  }
  .md-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .md-offset-3 {
    margin-left: 18.75%;
  }
  .md-5 {
    -webkit-flex: 0 0 31.25%;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .md-offset-4 {
    margin-left: 25%;
  }
  .md-6 {
    -webkit-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .md-offset-5 {
    margin-left: 31.25%;
  }
  .md-7 {
    -webkit-flex: 0 0 43.75%;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .md-offset-6 {
    margin-left: 37.5%;
  }
  .md-8 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .md-offset-7 {
    margin-left: 43.75%;
  }
  .md-9 {
    -webkit-flex: 0 0 56.25%;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .md-offset-8 {
    margin-left: 50%;
  }
  .md-10 {
    -webkit-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .md-offset-9 {
    margin-left: 56.25%;
  }
  .md-11 {
    -webkit-flex: 0 0 68.75%;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .md-offset-10 {
    margin-left: 62.5%;
  }
  .md-12 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .md-offset-11 {
    margin-left: 68.75%;
  }
  .md-13 {
    -webkit-flex: 0 0 81.25%;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .md-offset-12 {
    margin-left: 75%;
  }
  .md-14 {
    -webkit-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .md-offset-13 {
    margin-left: 81.25%;
  }
  .md-15 {
    -webkit-flex: 0 0 93.75%;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .md-offset-14 {
    margin-left: 87.5%;
  }
  .md-16 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .md-offset-15 {
    margin-left: 93.75%;
  }
  .md-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .md-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .md-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .md-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .md-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .md-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .md-up-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-1 > .column, .md-up-1 > .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .md-up-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-2 > .column, .md-up-2 > .columns {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .md-up-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-3 > .column, .md-up-3 > .columns {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md-up-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-4 > .column, .md-up-4 > .columns {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .md-up-5 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-5 > .column, .md-up-5 > .columns {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .md-up-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-6 > .column, .md-up-6 > .columns {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md-up-7 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-7 > .column, .md-up-7 > .columns {
    -webkit-flex: 0 0 14.28571%;
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }
  .md-up-8 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-up-8 > .column, .md-up-8 > .columns {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media screen and (min-width: 40em) and (min-width: 40em) {
  .md-expand {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

.row.md-unstack > .column, .row.md-unstack > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: 40em) {
  .row.md-unstack > .column, .row.md-unstack > .columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 40em) {
  .md-collapse > .column, .md-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .md-uncollapse > .column, .md-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}


/*=================================
       large 64em (1024px)
=================================*/

@media screen and (min-width: 64em) {
  .lg-1 {
    -webkit-flex: 0 0 6.25%;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .lg-offset-0 {
    margin-left: 0%;
  }
  .lg-2 {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .lg-offset-1 {
    margin-left: 6.25%;
  }
  .lg-3 {
    -webkit-flex: 0 0 18.75%;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .lg-offset-2 {
    margin-left: 12.5%;
  }
  .lg-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-offset-3 {
    margin-left: 18.75%;
  }
  .lg-5 {
    -webkit-flex: 0 0 31.25%;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .lg-offset-4 {
    margin-left: 25%;
  }
  .lg-6 {
    -webkit-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .lg-offset-5 {
    margin-left: 31.25%;
  }
  .lg-7 {
    -webkit-flex: 0 0 43.75%;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .lg-offset-6 {
    margin-left: 37.5%;
  }
  .lg-8 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-offset-7 {
    margin-left: 43.75%;
  }
  .lg-9 {
    -webkit-flex: 0 0 56.25%;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .lg-offset-8 {
    margin-left: 50%;
  }
  .lg-10 {
    -webkit-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .lg-offset-9 {
    margin-left: 56.25%;
  }
  .lg-11 {
    -webkit-flex: 0 0 68.75%;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .lg-offset-10 {
    margin-left: 62.5%;
  }
  .lg-12 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .lg-offset-11 {
    margin-left: 68.75%;
  }
  .lg-13 {
    -webkit-flex: 0 0 81.25%;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .lg-offset-12 {
    margin-left: 75%;
  }
  .lg-14 {
    -webkit-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .lg-offset-13 {
    margin-left: 81.25%;
  }
  .lg-15 {
    -webkit-flex: 0 0 93.75%;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .lg-offset-14 {
    margin-left: 87.5%;
  }
  .lg-16 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lg-offset-15 {
    margin-left: 93.75%;
  }
  .lg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .lg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .lg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .lg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .lg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .lg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .lg-up-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-1 > .column, .lg-up-1 > .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lg-up-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-2 > .column, .lg-up-2 > .columns {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-up-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-3 > .column, .lg-up-3 > .columns {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg-up-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-4 > .column, .lg-up-4 > .columns {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-up-5 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-5 > .column, .lg-up-5 > .columns {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .lg-up-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-6 > .column, .lg-up-6 > .columns {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg-up-7 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-7 > .column, .lg-up-7 > .columns {
    -webkit-flex: 0 0 14.28571%;
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }
  .lg-up-8 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-up-8 > .column, .lg-up-8 > .columns {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media screen and (min-width: 64em) and (min-width: 64em) {
  .lg-expand {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

.row.lg-unstack > .column, .row.lg-unstack > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: 64em) {
  .row.lg-unstack > .column, .row.lg-unstack > .columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 64em) {
  .lg-collapse > .column, .lg-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .lg-uncollapse > .column, .lg-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}


/*=================================
       xlarge 75em (1200px)
=================================*/

@media screen and (min-width: 75em) {
  .xlg-1 {
    -webkit-flex: 0 0 6.25%;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .xlg-offset-0 {
    margin-left: 0%;
  }
  .xlg-2 {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .xlg-offset-1 {
    margin-left: 6.25%;
  }
  .xlg-3 {
    -webkit-flex: 0 0 18.75%;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .xlg-offset-2 {
    margin-left: 12.5%;
  }
  .xlg-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xlg-offset-3 {
    margin-left: 18.75%;
  }
  .xlg-5 {
    -webkit-flex: 0 0 31.25%;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .xlg-offset-4 {
    margin-left: 25%;
  }
  .xlg-6 {
    -webkit-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xlg-offset-5 {
    margin-left: 31.25%;
  }
  .xlg-7 {
    -webkit-flex: 0 0 43.75%;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .xlg-offset-6 {
    margin-left: 37.5%;
  }
  .xlg-8 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xlg-offset-7 {
    margin-left: 43.75%;
  }
  .xlg-9 {
    -webkit-flex: 0 0 56.25%;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .xlg-offset-8 {
    margin-left: 50%;
  }
  .xlg-10 {
    -webkit-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .xlg-offset-9 {
    margin-left: 56.25%;
  }
  .xlg-11 {
    -webkit-flex: 0 0 68.75%;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .xlg-offset-10 {
    margin-left: 62.5%;
  }
  .xlg-12 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xlg-offset-11 {
    margin-left: 68.75%;
  }
  .xlg-13 {
    -webkit-flex: 0 0 81.25%;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .xlg-offset-12 {
    margin-left: 75%;
  }
  .xlg-14 {
    -webkit-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .xlg-offset-13 {
    margin-left: 81.25%;
  }
  .xlg-15 {
    -webkit-flex: 0 0 93.75%;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .xlg-offset-14 {
    margin-left: 87.5%;
  }
  .xlg-16 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xlg-offset-15 {
    margin-left: 93.75%;
  }
  .xlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .xlg-up-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-1 > .column, .xlg-up-1 > .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xlg-up-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-2 > .column, .xlg-up-2 > .columns {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xlg-up-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-3 > .column, .xlg-up-3 > .columns {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xlg-up-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-4 > .column, .xlg-up-4 > .columns {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xlg-up-5 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-5 > .column, .xlg-up-5 > .columns {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .xlg-up-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-6 > .column, .xlg-up-6 > .columns {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xlg-up-7 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-7 > .column, .xlg-up-7 > .columns {
    -webkit-flex: 0 0 14.28571%;
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }
  .xlg-up-8 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xlg-up-8 > .column, .xlg-up-8 > .columns {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media screen and (min-width: 75em) and (min-width: 75em) {
  .xlg-expand {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

.row.xlg-unstack > .column, .row.xlg-unstack > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: 75em) {
  .row.xlg-unstack > .column, .row.xlg-unstack > .columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 75em) {
  .xlg-collapse > .column, .xlg-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .xlg-uncollapse > .column, .xlg-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}


/*=================================
        xxlarge 90em (1440px)
=================================*/

@media screen and (min-width: 90em) {
  .xxlg-1 {
    -webkit-flex: 0 0 6.25%;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .xxlg-offset-0 {
    margin-left: 0%;
  }
  .xxlg-2 {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .xxlg-offset-1 {
    margin-left: 6.25%;
  }
  .xxlg-3 {
    -webkit-flex: 0 0 18.75%;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .xxlg-offset-2 {
    margin-left: 12.5%;
  }
  .xxlg-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xxlg-offset-3 {
    margin-left: 18.75%;
  }
  .xxlg-5 {
    -webkit-flex: 0 0 31.25%;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .xxlg-offset-4 {
    margin-left: 25%;
  }
  .xxlg-6 {
    -webkit-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xxlg-offset-5 {
    margin-left: 31.25%;
  }
  .xxlg-7 {
    -webkit-flex: 0 0 43.75%;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .xxlg-offset-6 {
    margin-left: 37.5%;
  }
  .xxlg-8 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xxlg-offset-7 {
    margin-left: 43.75%;
  }
  .xxlg-9 {
    -webkit-flex: 0 0 56.25%;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .xxlg-offset-8 {
    margin-left: 50%;
  }
  .xxlg-10 {
    -webkit-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .xxlg-offset-9 {
    margin-left: 56.25%;
  }
  .xxlg-11 {
    -webkit-flex: 0 0 68.75%;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .xxlg-offset-10 {
    margin-left: 62.5%;
  }
  .xxlg-12 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xxlg-offset-11 {
    margin-left: 68.75%;
  }
  .xxlg-13 {
    -webkit-flex: 0 0 81.25%;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .xxlg-offset-12 {
    margin-left: 75%;
  }
  .xxlg-14 {
    -webkit-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .xxlg-offset-13 {
    margin-left: 81.25%;
  }
  .xxlg-15 {
    -webkit-flex: 0 0 93.75%;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .xxlg-offset-14 {
    margin-left: 87.5%;
  }
  .xxlg-16 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xxlg-offset-15 {
    margin-left: 93.75%;
  }
  .xxlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xxlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xxlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xxlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xxlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xxlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .xxlg-up-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-1 > .column, .xxlg-up-1 > .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xxlg-up-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-2 > .column, .xxlg-up-2 > .columns {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xxlg-up-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-3 > .column, .xxlg-up-3 > .columns {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xxlg-up-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-4 > .column, .xxlg-up-4 > .columns {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xxlg-up-5 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-5 > .column, .xxlg-up-5 > .columns {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .xxlg-up-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-6 > .column, .xxlg-up-6 > .columns {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xxlg-up-7 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-7 > .column, .xxlg-up-7 > .columns {
    -webkit-flex: 0 0 14.28571%;
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }
  .xxlg-up-8 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxlg-up-8 > .column, .xxlg-up-8 > .columns {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media screen and (min-width: 90em) and (min-width: 90em) {
  .xxlg-expand {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

.row.xxlg-unstack > .column, .row.xxlg-unstack > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: 90em) {
  .row.xxlg-unstack > .column, .row.xxlg-unstack > .columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 90em) {
  .xxlg-collapse > .column, .xxlg-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .xxlg-uncollapse > .column, .xxlg-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}


/*=================================
        xxxlarge 105em (1680px)
=================================*/


@media screen and (min-width: 105em) {
  .xxxlg-1 {
    -webkit-flex: 0 0 6.25%;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
  }
  .xxxlg-offset-0 {
    margin-left: 0%;
  }
  .xxxlg-2 {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .xxxlg-offset-1 {
    margin-left: 6.25%;
  }
  .xxxlg-3 {
    -webkit-flex: 0 0 18.75%;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
  }
  .xxxlg-offset-2 {
    margin-left: 12.5%;
  }
  .xxxlg-4 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xxxlg-offset-3 {
    margin-left: 18.75%;
  }
  .xxxlg-5 {
    -webkit-flex: 0 0 31.25%;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
  }
  .xxxlg-offset-4 {
    margin-left: 25%;
  }
  .xxxlg-6 {
    -webkit-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xxxlg-offset-5 {
    margin-left: 31.25%;
  }
  .xxxlg-7 {
    -webkit-flex: 0 0 43.75%;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  .xxxlg-offset-6 {
    margin-left: 37.5%;
  }
  .xxxlg-8 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xxxlg-offset-7 {
    margin-left: 43.75%;
  }
  .xxxlg-9 {
    -webkit-flex: 0 0 56.25%;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
  }
  .xxxlg-offset-8 {
    margin-left: 50%;
  }
  .xxxlg-10 {
    -webkit-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .xxxlg-offset-9 {
    margin-left: 56.25%;
  }
  .xxxlg-11 {
    -webkit-flex: 0 0 68.75%;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
  }
  .xxxlg-offset-10 {
    margin-left: 62.5%;
  }
  .xxxlg-12 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xxxlg-offset-11 {
    margin-left: 68.75%;
  }
  .xxxlg-13 {
    -webkit-flex: 0 0 81.25%;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
  }
  .xxxlg-offset-12 {
    margin-left: 75%;
  }
  .xxxlg-14 {
    -webkit-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .xxxlg-offset-13 {
    margin-left: 81.25%;
  }
  .xxxlg-15 {
    -webkit-flex: 0 0 93.75%;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
  }
  .xxxlg-offset-14 {
    margin-left: 87.5%;
  }
  .xxxlg-16 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xxxlg-offset-15 {
    margin-left: 93.75%;
  }
  .xxxlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xxxlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xxxlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xxxlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xxxlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xxxlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  .xxxlg-up-1 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-1 > .column, .xxxlg-up-1 > .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xxxlg-up-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-2 > .column, .xxxlg-up-2 > .columns {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xxxlg-up-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-3 > .column, .xxxlg-up-3 > .columns {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xxxlg-up-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-4 > .column, .xxxlg-up-4 > .columns {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xxxlg-up-5 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-5 > .column, .xxxlg-up-5 > .columns {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .xxxlg-up-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-6 > .column, .xxxlg-up-6 > .columns {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xxxlg-up-7 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-7 > .column, .xxxlg-up-7 > .columns {
    -webkit-flex: 0 0 14.28571%;
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%;
  }
  .xxxlg-up-8 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .xxxlg-up-8 > .column, .xxxlg-up-8 > .columns {
    -webkit-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

@media screen and (min-width: 90em) and (min-width: 90em) {
  .xxxlg-expand {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

.row.xxxlg-unstack > .column, .row.xxxlg-unstack > .columns {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

@media screen and (min-width: 90em) {
  .row.xxxlg-unstack > .column, .row.xxxlg-unstack > .columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
  }
}

@media screen and (min-width: 90em) {
  .xxxlg-collapse > .column, .xxxlg-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .xxxlg-uncollapse > .column, .xxxlg-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}


.shrink {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}

.column.align-top, .align-top.columns {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.column.align-bottom, .align-bottom.columns {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.column.align-middle, .align-middle.columns {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.column.align-stretch, .align-stretch.columns {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.align-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-justify {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-spaced {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-self-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-self-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.align-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.sm-order-1 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.sm-order-2 {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.sm-order-3 {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.sm-order-4 {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.sm-order-5 {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

.sm-order-6 {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

@media screen and (min-width: 40em) {
  .md-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .md-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .md-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .md-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .md-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .md-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
}

@media screen and (min-width: 64em) {
  .lg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .lg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .lg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .lg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .lg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .lg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
}

@media screen and (min-width: 75em) {
  .xlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
}

@media screen and (min-width: 90em) {
  .xxlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xxlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xxlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xxlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xxlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xxlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
}


@media screen and (min-width: 105em) {
  .xxxlg-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .xxxlg-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .xxxlg-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .xxxlg-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  .xxxlg-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .xxxlg-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
}