/*
=======================================================================
============================= Pagination ==============================
=======================================================================
*/

.pagination {
  margin-left: 0;
  margin-bottom: 1rem; }
.pagination::before, .pagination::after {
  content: ' ';
  display: table;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }
.pagination::after {
  clear: both; }
.pagination li {
  font-size: 0.875rem;
  margin-right: 0.0625rem;
  border-radius: 3px;
  display: none; }
.pagination li:last-child, .pagination li:first-child {
  display: inline-block; }
@media screen and (min-width: 40em) {
  .pagination li {
    display: inline-block; } }
.pagination a,
.pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 3px; }
.pagination a:hover,
.pagination button:hover {
  background: #e6e6e6; }
.pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #2ba6cb;
  color: #fefefe;
  cursor: default; }
.pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #cacaca;
  cursor: not-allowed; }
.pagination .disabled:hover {
  background: transparent; }
.pagination .ellipsis::after {
  content: '\2026';
  padding: 0.1875rem 0.625rem;
  color: #0a0a0a; }

.pagination-previous a::before,
.pagination-previous.disabled::before {
  content: '\00ab';
  display: inline-block;
  margin-right: 0.5rem; }

.pagination-next a::after,
.pagination-next.disabled::after {
  content: '\00bb';
  display: inline-block;
  margin-left: 0.5rem; }
