
$base-font: 'proxima_nova_ltlight','proxima_nova_ththin', Helvetica, Arial, sans-serif;
$base-font-bold: 'proxima_novasemibold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-bolder: 'proxima_novaextrabold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-bold: 'playfair_displaybold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font-regular: 'playfair_displayregular', "Helvetica Neue", Helvetica, Arial, sans-serif;


/*  Colors */

$primary-color: #390C06;
$secondary-color: #C44427;
$secondary-color-dark: #5B1700;
$tertiary-color: #5B1700;
$black: #141A1A;
$white: #fff;
$light-tan: #ECEBE9;
$xlight-gray: #f5f5f5;
$light-gray: #eee;
$medium-gray: #777;
$dark-gray: #354545;
$dark-blue: #004462;
$link-color: #C44427;